/*
* コンテナ設定 ==================================================================
*/
main{
  section{
    padding: 50px 0 ;
    max-width: 100%;
    .section-inner{
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
      padding: 0 16px;
      h1{
        font-size: 2.4rem;
        text-align: center;
        padding-bottom: 30px;
      }
      &__flex-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .box-text,.box-img{
          max-width: 480px;
          width: 100%;
          p{
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
