.slider {

  li {
    position: relative;

    div.catchcopy {
      position: absolute;
      top: 270px;
      left: 290px;
      h2 {
        font-weight: bold;
        font-size: 45px;
      }
      h3 {
        margin: 30px 0 40px 0;
        font-weight: bold;
        font-size: 23px;
      }
      p {
        width: 73%;
        font-size: 20px;
        line-height: 1.5;
      }
      a.download-btn {
        display: inline-block;
        margin-top: 35px;
        padding: 23px 70px;
        border-radius: 50px;
        font-weight: bold;
        color: $color4;
        background-color: $color2;
        box-shadow: 10px 10px 40px rgba(87, 144, 168, 0.49);
      }
      a.download-btn:hover {
        opacity: 70%;
      }
    }

  }

}
