header{
  .main-visual{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    height: 1024px;
    &__visual-inner{
      background: #031952;
    }
  }
}




.animation_inner {
  position: relative;
  h1{
    position: absolute;
    top: 45%;
    left: 20%;
    color:#29fc9b;
    letter-spacing: 0.80em;
    font-size: 10em;
    text-align:center;
  }
}
