
//色設定
$color1: #0288C1;
$color2: #3EA6D3;
$color3: #555555;
$color4: #FFFFFF;
$color5: #f6db61;
$color6: #6c6c6c;



$breakPoint: 767px;

$container: 980px;
$campus: 1900px;

// width ==========================================================
.contain {
  max-width: $container;
  margin: auto;
  @media screen and (max-width: 1366px) {
    max-width: 750px;
  }
  @media screen and (max-width: 767px) {
    max-width: 480px;
    padding: 0 15px;
  }
}

.campus {
  max-width: $campus;
  margin: auto;
}


/* --------------------------------  MIX IN  -------------------------------- */

// flex between
// * ex) @include flexBetween (ブレークポイント, align-items(center,flex-start,flex-end,stretch etc), wrap)
@mixin flexBetween ($break: $breakPoint, $align:flex-start, $wrap: warap){
  display: flex;
  justify-content: space-between;
  align-items: $align;
  @media screen and (max-width: $break) {
    flex-wrap: wrap;
  }
}

// 角丸ボタン
// * ex) @include kadomaruBtn(文字サイズ, 文字色, 背景色, padding, radius)
@mixin kadomaruBtn($font-size: 16px, $text-color: $color1, $bg-color: invert($text-color), $padding: 0.65em 2em, $radius: 1.4em) {

  font-size: #{$font-size};
  padding: #{$padding};
  color: #{$text-color};
  background-color: #{$bg-color};
  border: solid 1px #{$bg-color};
  border-radius: #{$radius};
  transition: 0.25s;
  &:hover {
    color: #{$bg-color};
    background-color: #{$text-color};
    border: solid 1px #{$bg-color};
  }

}

// 要素から溢れる文字を...と省略する
// * ex) @include lines-truncate(省略する行)
@mixin lines-truncate($lines: 1){
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

// position:absolute一括設定
// * ex) @include absolute(上, 右, 下, 左);
@mixin absolute($top:null, $right:null, $bottom:null, $left:null){
  position: absolute;
  @if $top != null{
    top: $top;
  }
  @if $right != null{
    right: $right;
  }
  @if $bottom != null{
    bottom: $bottom;
  }
  @if $left != null{
    left: $left;
  }
}

// absolute center (X,Y)
// * ex) @include absoluteCenter
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

// absolute center (Y)
// * ex) @include absoluteCenterY
@mixin absoluteCenterY {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

// absolute center (X)
// * ex) @include absoluteCenterX
@mixin absoluteCenterX {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

// ----
// * ex)
//   @include media-sp {}
//   @include media-pc {}
// ----

@mixin media-sp {
  @media screen and (max-width: $breakPoint) {
    @content;
  }
}

@mixin media-pc {
  @media print, screen and (min-width: $breakPoint + 1) {
    @content;
  }
}

// ----
// * ex)
//   @include media-max(横幅) {}
//   @include media-min(横幅) {}
// ----

@mixin media-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin media-min($width) {
  @media print, screen and (min-width: $width) {
    @content;
  }
}

// ----
// * ex)
//   @include none-appearance;
@mixin none-appearance {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none transparent;
  background-clip: padding-box;
  color: inherit;
  font-size: inherit;
  vertical-align: middle;
  box-sizing: border-box;
  &::-ms-clear {
    display: none;
  }
  &::-ms-reveal {
    display: none;
  }
  &::-ms-expand {
    display: none;
  }
}

/* --------------------------------  MIX IN  -------------------------------- */



/* --------------------------------  Admin Menu  -------------------------------- */
/*メニューの背景色*/
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: $color1;
}
/*メニューのホバーした時の背景色*/
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: $color3;
  background: darken($color1, 10%);
}
/* Admin Menu: submenu */
/*メニューの第2階層の背景色*/
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: darken($color3, 40%);
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: darken($color3, 40%);
}
/*アクティブ時の背景色*/
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: $color2;
  background: $color1;
}
/* Admin Menu: bubble */
/*項目右の数字アイコンの色*/
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: $color2;
  border: 1px solid $color2;
  background-color: rgba(255, 255, 255, 0);
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: $color2;
  border: 1px solid $color2;
  background-color: rgba(255, 255, 255, 0);
}
/* Admin Bar */
/*管理画面のヘッダーの色*/
#wpadminbar {
  color: #fff;
  background: darken($color3, 35%);
}
/* Core UI */
/*更新、公開ボタンの色*/
.wp-core-ui .button-primary {
  background: darken($color3, 35%);
  border-color: darken($color3, 35%);
  color: #fff;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: darken($color3, 35%);
  border-color: darken($color3, 35%);
  color: #fff;
}
/* --------------------------------  Admin Menu  -------------------------------- */
