@charset "UTF-8";

@import "reset";
@import "mixin";
@import "code-prettify.css";

html {
  font-size: 10px!important;
}

body{
}

pre {
  background-color: rgba(#333,.36);
}

a {
  display: inline-block;
  color: $color1;
  text-decoration: none;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline-block;
  height: initial;
}

// setting ========================================================
// font ===========================================================
@for $i from 10 through 80 {
  .font#{$i} { font-size: #{$i}px}
}



@import "basic-style";
@import "header";
@import "footer";
@import "front-page";

/*
* 案件担当者以外が記述する場合はなるべく此処に記述してください。
*/

.sp {
  @include media-pc {
    display: none;
  }
}
.pc {
  @include media-sp {
    display: none;
  }
}
/*
* コーディング終了後修正記述用のscssファイルです。
* このimportしたファイル以下に記述しないでください。
*/
