@charset "UTF-8";
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
@import url(code-prettify.css);
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.contain {
  max-width: 980px;
  margin: auto;
}

@media screen and (max-width: 1366px) {
  .contain {
    max-width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .contain {
    max-width: 480px;
    padding: 0 15px;
  }
}

.campus {
  max-width: 1900px;
  margin: auto;
}

/* --------------------------------  MIX IN  -------------------------------- */
/* --------------------------------  MIX IN  -------------------------------- */
/* --------------------------------  Admin Menu  -------------------------------- */
/*メニューの背景色*/
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #0288C1;
}

/*メニューのホバーした時の背景色*/
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #555555;
  background: #01648f;
}

/* Admin Menu: submenu */
/*メニューの第2階層の背景色*/
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: black;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: black;
}

/*アクティブ時の背景色*/
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #3EA6D3;
  background: #0288C1;
}

/* Admin Menu: bubble */
/*項目右の数字アイコンの色*/
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #3EA6D3;
  border: 1px solid #3EA6D3;
  background-color: rgba(255, 255, 255, 0);
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #3EA6D3;
  border: 1px solid #3EA6D3;
  background-color: rgba(255, 255, 255, 0);
}

/* Admin Bar */
/*管理画面のヘッダーの色*/
#wpadminbar {
  color: #fff;
  background: black;
}

/* Core UI */
/*更新、公開ボタンの色*/
.wp-core-ui .button-primary {
  background: black;
  border-color: black;
  color: #fff;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: black;
  border-color: black;
  color: #fff;
}

/* --------------------------------  Admin Menu  -------------------------------- */
html {
  font-size: 10px !important;
}

pre {
  background-color: rgba(51, 51, 51, 0.36);
}

a {
  display: inline-block;
  color: #0288C1;
  text-decoration: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline-block;
  height: initial;
}

.font10 {
  font-size: 10px;
}

.font11 {
  font-size: 11px;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.font17 {
  font-size: 17px;
}

.font18 {
  font-size: 18px;
}

.font19 {
  font-size: 19px;
}

.font20 {
  font-size: 20px;
}

.font21 {
  font-size: 21px;
}

.font22 {
  font-size: 22px;
}

.font23 {
  font-size: 23px;
}

.font24 {
  font-size: 24px;
}

.font25 {
  font-size: 25px;
}

.font26 {
  font-size: 26px;
}

.font27 {
  font-size: 27px;
}

.font28 {
  font-size: 28px;
}

.font29 {
  font-size: 29px;
}

.font30 {
  font-size: 30px;
}

.font31 {
  font-size: 31px;
}

.font32 {
  font-size: 32px;
}

.font33 {
  font-size: 33px;
}

.font34 {
  font-size: 34px;
}

.font35 {
  font-size: 35px;
}

.font36 {
  font-size: 36px;
}

.font37 {
  font-size: 37px;
}

.font38 {
  font-size: 38px;
}

.font39 {
  font-size: 39px;
}

.font40 {
  font-size: 40px;
}

.font41 {
  font-size: 41px;
}

.font42 {
  font-size: 42px;
}

.font43 {
  font-size: 43px;
}

.font44 {
  font-size: 44px;
}

.font45 {
  font-size: 45px;
}

.font46 {
  font-size: 46px;
}

.font47 {
  font-size: 47px;
}

.font48 {
  font-size: 48px;
}

.font49 {
  font-size: 49px;
}

.font50 {
  font-size: 50px;
}

.font51 {
  font-size: 51px;
}

.font52 {
  font-size: 52px;
}

.font53 {
  font-size: 53px;
}

.font54 {
  font-size: 54px;
}

.font55 {
  font-size: 55px;
}

.font56 {
  font-size: 56px;
}

.font57 {
  font-size: 57px;
}

.font58 {
  font-size: 58px;
}

.font59 {
  font-size: 59px;
}

.font60 {
  font-size: 60px;
}

.font61 {
  font-size: 61px;
}

.font62 {
  font-size: 62px;
}

.font63 {
  font-size: 63px;
}

.font64 {
  font-size: 64px;
}

.font65 {
  font-size: 65px;
}

.font66 {
  font-size: 66px;
}

.font67 {
  font-size: 67px;
}

.font68 {
  font-size: 68px;
}

.font69 {
  font-size: 69px;
}

.font70 {
  font-size: 70px;
}

.font71 {
  font-size: 71px;
}

.font72 {
  font-size: 72px;
}

.font73 {
  font-size: 73px;
}

.font74 {
  font-size: 74px;
}

.font75 {
  font-size: 75px;
}

.font76 {
  font-size: 76px;
}

.font77 {
  font-size: 77px;
}

.font78 {
  font-size: 78px;
}

.font79 {
  font-size: 79px;
}

.font80 {
  font-size: 80px;
}

/*
* コンテナ設定 ==================================================================
*/
main section {
  padding: 50px 0;
  max-width: 100%;
}

main section .section-inner {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

main section .section-inner h1 {
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 30px;
}

main section .section-inner__flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main section .section-inner__flex-box .box-text, main section .section-inner__flex-box .box-img {
  max-width: 480px;
  width: 100%;
}

main section .section-inner__flex-box .box-text p, main section .section-inner__flex-box .box-img p {
  font-size: 1.6rem;
}

header .main-visual {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  height: 1024px;
}

header .main-visual__visual-inner {
  background: #031952;
}

.animation_inner {
  position: relative;
}

.animation_inner h1 {
  position: absolute;
  top: 45%;
  left: 20%;
  color: #29fc9b;
  letter-spacing: 0.80em;
  font-size: 10em;
  text-align: center;
}

.slider li {
  position: relative;
}

.slider li div.catchcopy {
  position: absolute;
  top: 270px;
  left: 290px;
}

.slider li div.catchcopy h2 {
  font-weight: bold;
  font-size: 45px;
}

.slider li div.catchcopy h3 {
  margin: 30px 0 40px 0;
  font-weight: bold;
  font-size: 23px;
}

.slider li div.catchcopy p {
  width: 73%;
  font-size: 20px;
  line-height: 1.5;
}

.slider li div.catchcopy a.download-btn {
  display: inline-block;
  margin-top: 35px;
  padding: 23px 70px;
  border-radius: 50px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3EA6D3;
  box-shadow: 10px 10px 40px rgba(87, 144, 168, 0.49);
}

.slider li div.catchcopy a.download-btn:hover {
  opacity: 70%;
}

/*
* 案件担当者以外が記述する場合はなるべく此処に記述してください。
*/
@media print, screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

/*
* コーディング終了後修正記述用のscssファイルです。
* このimportしたファイル以下に記述しないでください。
*/
